<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Display Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/styles/control-panel.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/scripts/control-panel.js" type="text/javascript"></script>
</head>
<body>
<nav>
	<img src="/images/cp-header.png" class="hide-for-small-only" />
	<h1>TV Control Panel</h1>
</nav>
<div class="session-info">
	<div class="row column">
		You're logged in as {{username}}. <a href="/control-panel/{{location}}/logout">Log Out?</a>
	</div>
</div>
<div class="row column">
	<div class="control">
		<h3 class="instruction">Select one option to display on TV</h3>
		<div class="row expanded small-up-1 medium-up-2 large-up-3 align-left">
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Space (Business) ID</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="row column">
							<label for="business">Business ID</label>
							{{#if nexudusLocations}}
								<ul style="list-style: none;">
								{{#each nexudusLocations}}
									<li>
										<label><input type="radio" name="business" value="{{Id}}" {{#if selected}}checked="checked"{{/if}} /> {{Name}}</label>
									</li>
								{{/each}}
								</ul>
							{{else}}
								{{#if business}}
									Location is set to {{business}}. To change it, click <a href="/control-panel/{{location}}?changeBusiness=true">here</a>.
								{{/if}}
							{{/if}}
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box">
					<h4>Message</h4>
					<form method="post" class="ajax">
						<input type="hidden" name="event" value="message" />
						<input type="hidden" name="location" value="{{location}}" />

						<div class="row column">
							<label for="message-title">Title</label>
							<input id="message-title" type="text" name="title" placeholder="Title" />
						</div>
						<div class="row column">
							<label for="message-body">Body</label>
							<textarea id="message-body" name="body" placeholder="Body" rows="6"></textarea>
						</div>
						<div class="row">
							<div class="column">
								<label for="message-chime">Chime</label>
								<input type="checkbox" name="chime" value="1" checked="checked"/> Play Chime
							</div>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" class="button" style="float: right;">Display Message</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box">
					<h4>Website</h4>
					<form method="post" class="ajax">
						<input type="hidden" name="event" value="website" />
						<input type="hidden" name="location" value="{{location}}" />

						<div class="row column">
							<label for="website-url">Website URL</label>
							<input id="website-url" type="text" name="url" placeholder="Website url" />
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" class="button" style="float: right;">Toggle Website</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>YouTube</h4>
					<form method="post" class="ajax">
						<input type="hidden" name="event" value="youtube" />
						<input type="hidden" name="location" value="{{location}}" />
						<div class="row column">
							<label for="youtube-url">YouTube URL</label>
							<input id="youtube-url" type="text" name="url" placeholder="YouTube URL" />
						</div>
						<div class="row">
							<div class="column">
								<label>Sound</label>
								<input type="hidden" name="volume" value="100">
								<input id="youtube-volume" type="checkbox" name="volume" value="0"/>
								<label for="youtube-volume" class="inline">Mute</label>
							</div>
							<div class="column">
								<label for="youtube-queue">Queue</label>
								<select name="queue" id="youtube-queue">
									<option value="now">Play Now</option>
									<option value="queue">Queue Up</option>
									<option value="next">Play Next</option>
									<option value="clear_now">Clear Queue & Play Now</option>
									<option value="clear_next">Clear Queue & Play Next</option>
								</select>
							</div>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" class="button" style="float: right;">Play / Queue</button>
							<button type="submit" name="stop" value="1" class="button button--red" style="float: right;">Stop</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Image Slides</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="_key" value="imageSlides" />
						<input type="hidden" name="location" value="{{location}}" />
						<div class="js-imageSlides">
							{{#each imageSlides}}
								<div class="row column">
									<input type="text" name="imageSlides[]" placeholder="Image URL" value="{{this}}" />
								</div>
							{{/each}}
						</div>
						<div class="row column">
							<button class="button button--red js-imgRemove">Remove</button>
							<button class="button button--green js-imgAdd" style="float: right;">Add</button>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Room Statuses</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="js-roomStatus">
							{{#each roomStatus}}
								<div class="row column">
									<input type="text" name="roomStatus[]" placeholder="Room Name" value="{{this}}" />
								</div>
							{{/each}}
						</div>
						<div class="row column">
							<button class="button button--red js-roomRemove">Remove</button>
							<button class="button button--green js-roomAdd" style="float: right;">Add</button>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Weather Location</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="row column">
							<label for="weather-latitude">Latitude</label>
							<input id="weather-latitude" type="text" name="weather[latitude]" placeholder="Latitude" value="{{weather.latitude}}" />
						</div>
						<div class="row column">
							<label for="weather-longitude">Longitude</label>
							<input id="weather-longitude" type="text" name="weather[longitude]" placeholder="Longitude" value="{{weather.longitude}}" />
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Welcome Message</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="row column">
							<label for="welcome-message">Message</label>
							<textarea id="welcome-message" name="welcome" placeholder="Welcome" rows="6">{{welcome}}</textarea>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Tracked Hashtag</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="row column">
							<label for="tracked-hashtag">Hashtag</label>
							<input type="text" id="tracked-hashtag" name="hashtag" placeholder="#myCMPNY" value="{{hashtag}}" />
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column">
				<div class="option-box margin-bot">
					<h4>Social Media</h4>
					<form method="post" class="ajax preserve">
						<input type="hidden" name="location" value="{{location}}" />
						<div class="js-social">
							<div class="row column">
								<label for="social-facebook">Facebook</label>
								<input type="text" id="social-facebook" name="social[facebook]" placeholder="facebook.com/username" value="{{social.facebook}}" />
							</div>
							<div class="row column">
								<label for="social-twitter">Twitter</label>
								<input type="text" id="social-twitter" name="social[twitter]" placeholder="@username" value="{{social.twitter}}" />
							</div>
							<div class="row column">
								<label for="social-instagram">Instagram</label>
								<input type="text" id="social-instagram" name="social[instagram]" placeholder="@username" value="{{social.instagram}}" />
							</div>
						</div>
						<div class="controls">
							<button type="submit" name="refresh" value="1" class="button button--grey">Refresh</button>
							<button type="submit" name="save" value="1" class="button" style="float: right;">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="row column">
		<div class="footer-controls">

		</div>
	</div>
</footer>
</body>
</html>
