<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Display</title>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet" type="text/css" />
	<link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="styles/general.css" rel="stylesheet" type="text/css" />
	<link href="styles/style-{{theme}}.css" rel="stylesheet" type="text/css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.5/moment-timezone.min.js" type="text/javascript"></script>
	<script src="https://www.youtube.com/iframe_api" type="text/javascript" async="async"></script>
	<script src="scripts/skycons.js" type="text/javascript"></script>
	<script src="scripts/jquery.quickfit.js" type="text/javascript"></script>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var theLocation = "{{location}}";
		var nexudus = "{{nexudus}}";
	</script>
	{{#eq theme "spacekraft"}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.25/paper-core.js" type="text/javascript"></script>
	<script src="scripts/background.js" type="text/javascript"></script>
	{{/eq}}
	<script src="scripts/main.js" type="text/javascript"></script>
</head>
<body>
	<audio id="chime" src="/notice.mp4"></audio>
	<div class="content">
		{{#eq theme "spacekraft"}}
			<canvas id="background" data-paper-keepalive="true"></canvas>
		{{/eq}}
		<ul class="frames">
			<li class="frame">
				<img src="images/logo-{{theme}}.svg" class="logo" />
				<div class="dashboard">
					<div class="expanded row margin">
						<div class="column small-6 text-center">
							<div class="box center-box">
								<div>
									<div class="js-time dashboard__time"></div>
									<div class="js-dow dashboard__dayofweek"></div>
								</div>
							</div>
						</div>
						<div class="column small-6 text-center">
							<div class="box">
								<div class="row">
									<div class="medium-4 columns">
										<div class="center-box">
											<div class="js-weather-now dashboard__temperature"></div>
										</div>
									</div>
									<div class="medium-8 columns">
										<div class="js-weather-tonight dashboard__forecast"></div>
										<div class="js-weather-tomorrow dashboard__forecast"></div>
										<div class="js-weather-later dashboard__forecast"></div>
									</div>
								</div>
								<div class="credit">
									Powered by Dark Sky
								</div>
							</div>
						</div>
					</div>
					<div class="row expanded">
						<div class="column small-8">
							<div class="box center-box">
								<ul class="js-roomstatus room-status"></ul>
							</div>
						</div>
						<div class="column small-4">
							<div class="box center-box">
								<div>
									<div class="quote__text js-quote-text"></div>
									<div class="quote__author js-quote-author"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="frame">
				<img src="images/logo-{{theme}}.svg" class="logo" />
				<div class="row expanded align-center">
					<div class="small-10 columns text-center">
						<div class="box">
							<div class="welcome">
								<h1>Welcome!</h1>
								<div class="welcome__message">
									{{welcome}}
								</div>
								<h3 class="text-right">
									&mdash; CMPNY
								</h3>
							</div>
						</div>
					</div>
				</div>
			</li>

			<li class="frame">
				<div class="heading">Upcoming Events</div>
				<div class="box" style="height: auto;">
					<ul class="upcoming-events js-upcoming"></ul>
				</div>
			</li>
			<li class="frame">
				<div class="heading">Some of Our Members</div>
				<div class="row expanded align-center">
					<div class="small-10 columns">
						<ul class="our-members js-ourmembers row small-up-3 expanded align-spaced"></ul>
					</div>
				</div>
			</li>
			{{#if hashtag}}
			<li class="frame">
				<div class="heading">{{hashtag}}</div>
				<div class="row expanded align-center">
					<div class="small-10 columns">
						<div class="tweet js-tweet"></div>
					</div>
				</div>
			</li>
			{{/if}}
			<li class="frame">
				<div class="heading">Find Us on Social Networks</div>
				<div class="row expanded align-center">
					<div class="small-10 columns">
						<div class="box" style="padding: 6%;">
							<p style="margin: 0; text-align: center; font-size: 2.4rem;">Keep up with all the latest news from CMPNY<br />on your favourite social network!</p>
							<ul class="social-networks">
								{{#each social}}
									<li class="social-networks--{{this.network}}">
										<i class="fa {{this.icon}}"></i>
										{{this.link}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</li>

			{{#each imageSlides}}
				<li class="frame frame--image">
					<img src="{{this}}" class="image-frame" />
				</li>
			{{/each}}
		</ul>
	</div>
</body>
</html>