<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Display Control Panel</title>
	<link rel="stylesheet" type="text/css" href="/styles/control-panel.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<nav>
	<img src="/images/cp-header.png" class="hide-for-small-only" />
	<h1>TV Control Panel</h1>
</nav>
<div class="control row align-center">
	<div class="column medium-5">
		<div class="option-box">
			<h4>Login</h4>
			<form method="post">
				<input type="hidden" name="event" value="message" />
				<input type="hidden" name="location" value="{{location}}" />

				<div class="row column">
					<label for="message-title">Username</label>
					<input id="login-username" type="text" name="username" placeholder="Username" />
				</div>
				<div class="row column">
					<label for="message-body">Password</label>
					<input id="login-password" type="password" name="password" placeholder="Password" />
				</div>
				<div class="row column">
					<button type="submit" class="button">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>