html, body {
	background: #000;
	width: 100%;
	height: 100%;
	@include viewFont(20);
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

#youtube {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	iframe {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#website {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 1000;
}

.row.margin {
	@include viewRelative(margin-bottom, 30);
}

.box > .row {
	height: 100%;
}

.credit {
	@include viewFont(24);
}