@mixin viewRelative($property, $amount, $width: 1920, $height: 1080) {
	@media (max-aspect-ratio: #{$width}/#{$height}) {
		#{$property}: unquote(($amount * 100 / $width)+"vw");
	}
	@media (min-aspect-ratio: #{$width}/#{$height}) {
		#{$property}: unquote(($amount * 100 / $height)+"vh");
	}
}

@mixin viewRelativeAll($properties, $width: 1920, $height: 1080) {
	@media (max-aspect-ratio: #{$width}/#{$height}) {
		@each $property, $amount in $properties {
			#{$property}: unquote(($amount * 100 / $width)+"vw");
		}
	}
	@media (min-aspect-ratio: #{$width}/#{$height}) {
		@each $property, $amount in $properties {
			#{$property}: unquote(($amount * 100 / $height)+"vh");
		}
	}
}

@mixin viewFont($amount, $width: 1920, $height: 1080) {
	@include viewRelative('font-size', $amount, $width, $height);
}

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}