@import 'foundation-cp';
@import "compass/utilities/general/clearfix";

$indigo: #443298;
$gradient: #2253af;

$globalRadius: 8px;

@mixin placeholder() {
	&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		@content;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		@content;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		@content;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		@content;
	}
}

nav {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	background: $indigo; /* Old browsers */
	background: -moz-linear-gradient(left, $indigo 0%, $gradient 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, $indigo 0%, $gradient 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $indigo 0%, $gradient 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

nav img {
	position: absolute;
	top: 0;
	right: 0;
	max-width: none;
	max-height: none;
	height: 100%;
}

nav h1 {
	text-align: center;
	color: #ffffff;
	position: relative;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 0 $indigo, -1px -1px 0 $indigo, -1px 1px 0 $indigo, 1px -1px 0 $indigo;
}

.instruction {
	margin: 10px 0 10px 0;
	font-size: 24px;
	text-transform: uppercase;
}

.session-info {
	padding: 10px 0;
	background-color: lighten($indigo, 56%);
}

.control {
	margin-top: 30px;
	padding-bottom: 120px;
}

.control > .row > .column {
	margin-bottom: 30px;
}

.option-box {
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-radius: $globalRadius;
	border-color: #999;
	color: #999;
	margin: 0;
	height: 100%;
	padding: 16px;

	h4 {
		text-transform: uppercase;
		font-size: 22px;
	}
}

label {
	font-size: 16px;
	color: #AAA;
}

.selected {
	margin: -2px;
	border-style: solid;
	border-width: 3px;
	border-color: #662d91;
	color: #000000;

	label {
		color: #333;
	}
}

input[type="submit"] {
	color: #cccccc;
	width: 200px;
}

.refresher button {
	width: 150px;
	float: left;
	margin-top: 20px;
	height: 40px;
	background-color: #a7a9ac;
	color: #ffffff;
	border: none;
	border-radius: 2px;
}

.update button {
	width: 150px;
	height: 40px;
	float: right;
	margin-top: 20px;
	background-color: #453994;
	color: #ffffff;
	border: none;
	border-radius: 2px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 92%;
}

.button--grey {
	background-color: #AAA;
}

.button--red {
	background-color: #A00;
}

footer {
	display: none;
	width: 100%;
	background: #f1f2f2;
	bottom: 0;
	overflow: hidden;
	position: fixed;

	.footer-controls {
		@include clearfix();
		padding: 20px;
		margin-left: -20px;

		.button {
			margin-bottom: 0;
			font-size: 18px;
			min-width: 140px;
			margin-left: 20px;
		}
	}
}
