$text: #FFF;
$indigo: #443298;
$gradient: #2253af;

$openRoom: #23af26;
$bookedRoom: #af2323;

$globalRadius: 40;

@import "compass/css3/images";
@import "mixins";

body {
	margin:0;
	padding:0;
	color: $text;
	font-weight: 300;
	font-family: "Avenir","Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
	@include viewFont(32);
}

.content {
	background-color: $indigo;
	@include filter-gradient($indigo, $gradient, vertical);
	@include background-image(linear-gradient(top, $indigo 0%, $gradient 100%));
}

#background {
	width: 100% !important;
	height: 100% !important;
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.heading {
	background-color: $text;
	color: $indigo;
}

.status--open {
	color: $openRoom;
}
.status--booked {
	color: $bookedRoom;
}

.our-members {
	&__image {
		@include viewRelative('border-radius', $globalRadius);
		// border-radius: $globalRadius;
		background: #FFF;
	}
	&__image-actual {
		@include viewRelative('border-radius', $globalRadius * 0.75);
	}
}

.alert {
	@include viewRelative('border-radius', $globalRadius * 2);
}

.dashboard .box {
	background-color: rgba(255,255,255,0.2);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

.box {
	@include viewRelative('border-radius', $globalRadius / 2);
}

.dashboard__temperature {
	margin-left: viewPercent(180);

	.dashboard__temperature--number {
		@include viewFont(60);
	}
}

.quote__text {
	@include viewRelativeAll((
		margin-top: 0,
		margin-bottom: 0,
		margin-left: 10,
		margin-right: 10
	));
	@include viewFont(28);
	font-weight: bold;
}
.quote__author {
	@include viewRelativeAll((
			margin-top: 0,
			margin-bottom: 0,
			margin-left: 10,
			margin-right: 10
	));
	@include viewFont(28);
	font-weight: bold;
}