@import "mixins";

@import "../fonts/gt-pressura.css";

$text: #FFF;
$background: #4c5053;
$gradient: #2253af;

$openRoom: #23af26;
$bookedRoom: #af2323;

$globalRadius: 40px;

body {
	margin:0;
	padding:0;
	color: $text;
	font-weight: 300;
	font-family: "GT Pressura", sans-serif;
	@include viewFont(32);
}

.content {
	background: $background url('../images/cmpny.gif') 50% 50%;
	background-size: cover;
}

.heading {
	background-color: $text;
	color: $background;
}

.status--open {
	color: $openRoom;
}
.status--booked {
	color: $bookedRoom;
}

.our-members {
	&__image {
		border-radius: 0;
		background: #FFF;
	}
	&__name {
		background: transparentize($background, 0.1);
		padding: 4%;
	}
}

.alert {
	border-radius: $globalRadius * 2;
}

.box {
	background: transparentize($background, 0.1);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}