.alert {
	background-color: rgba(255,255,255,0.9);
	color: #333;
	font-size: 48px;
	overflow: hidden;
	position: fixed;
	text-align: center;
	left: 10%;
	width: 80%;
	padding: 60px 30px;

	&__title {
		margin: 0 0 0 10px;
		line-height: 1.1;
	}
	&__body {
		margin: 0;
	}
}