.dashboard {
	&__time {
		@include viewFont(160);
		font-weight: bold;
		line-height: 1.0;
	}

	&__dayofweek {
		@include viewFont(80);
		line-height: 1;
	}

	&__temperature {
		@include viewRelative('padding-top', 8);
		@include viewFont(75);
		font-weight: bold;

		&--number {
			line-height: 1;
		}
	}

	&__forecast {
		text-align: left;
		@include viewRelative('margin-bottom', 40);

		&:last-child {
			margin-bottom: 0;
		}

		.skycon {
			@include viewRelativeAll((
					margin-left: 40,
					margin-right: 20
			));
		}

		.dashboard__temperature--number {
			display: inline;
			@include viewFont(40);
		}
	}
}
