.frames {
	list-style: none;
	float: left;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.frame {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	@include viewRelative('padding', 60);

	&:not(:first-child) {
		opacity: 0;
	}

	&.frame--logo {
		padding-top: 195px;
	}

	&.frame--heading {
		padding-top: 300px;
	}

	&.frame--image {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		padding: 0;

		.image-frame {
			width: 94%;
			height: 94%;
			margin: auto;
			position: absolute;
			top: 3%;
			left: 3%;
		}
	}
}