.heading {
	box-sizing: border-box;
	display: block;
	z-index: 1;
	font-weight: bold;
	font-size: 4rem;
	padding: 8px 10%;
	@include viewRelativeAll((
		margin-left: -78,
		margin-right: -78
	));

	span {
		font-weight: normal;
	}
}