.our-members {
	list-style: none;
	@include viewRelativeAll((
		margin-top: 40,
		margin-bottom: -40,
		margin-left: 0,
		margin-right: 0
	));
	padding: 0;

	&__item {
		@include viewRelative(margin-bottom, 30);
	}

	&__image {
		display: block;
		@include viewRelativeAll((
				padding-top: 20,
				padding-bottom: 20,
				padding-left: 20,
				padding-right: 20
		));
		overflow: hidden;
		background: #FFF;
		width: 80%;
		height: auto;
		margin: 0 auto;
	}
	&__image-actual {
		background: no-repeat 50% 50%;
		background-size: contain;
		padding-bottom: 64%;
		width: 100%;
	}

	&__name {
		text-align: center;
		font-weight: bold;
		width: 75%;
		margin: 0 auto;
		@include viewRelative(margin-top, 20);
		line-height: 1.05;
	}
}