.room-status {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;

	@include clearfix();

	&__item {
		@include viewRelative('margin-bottom', 20);
		display: flex;
	}

	&.small-up-3 &__item {
		width: 33.332%
	}
	&.small-up-2 &__item {
		width: 49.999%;
	}

	&.small-up-3 &__item:nth-last-child(-n+3) {
		margin-bottom: 0;
	}
	&.small-up-2 &__item:nth-last-child(-n+2) {
		margin-bottom: 0;
	}

	&__status {
		@media (max-aspect-ratio: 16/9) {
			width: 2.78vw;
			flex: 1 1 auto;
		}
		@media (min-aspect-ratio: 16/9) {
			width: 2.78vh;
			flex: 1 1 auto;
		}


		line-height: 1;
		@include viewFont(40);
		@include viewRelativeAll((
			margin-top: 8,
			margin-right: 8
		));
		display: block;
	}

	&__info {
		flex: 1 1 100%;
		line-height: 1.2;
	}

	&__name {
		font-weight: bold;
		@include viewFont(40);
		@include viewRelative('padding-left', 8);
	}
	&__until {
		@include viewFont(24);
		@include viewRelative('padding-left', 8);
	}
}