.skycon {
	vertical-align: text-top;
	@include viewRelativeAll((
		width: 200,
		height: 200
	));
	margin: 0 auto;
	display: block;

	&--inline {
		@include viewRelativeAll((
				width: 80,
				height: 80
		));
		display: inline-block;
		vertical-align: middle;
	}
}