.tweet {
	@include viewRelativeAll((
		margin-top: 128,
		padding: 64
	));
	@include clearfix();

	&__image {
		float: left;
		border-radius: 50%;
		@include viewRelativeAll((
			width: 380,
			height: 380,
			margin-right: 32
		));

		display: block;
	}

	&__name, &__text, &__meta {
		@include viewRelative('margin-left',412);
	}

	&__name {
		@include viewFont(54);
		font-weight: bold;
	}

	&__text {
		@include viewFont(44);
	}

	&__meta {
		@include viewRelative('margin-top',24);
		@include viewFont(32);
	}
}