.upcoming-events {
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		@include display-flex;
		@include flex-direction(row);
		@include align-items(top);
		@include justify-content(left);
		@include viewRelative(margin-bottom, 40);
	}

	&__date {
		@include flex(0 0 auto);
		text-align: center;
		@include viewFont(32);
		@include viewRelativeAll((
			width: 140,
			margin-right: 40
		));
	}

	&__content {
		@include flex(0 1 auto);

		h2 {
			@include viewFont(32);
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 0;
			margin-top: 0;
		}
		p {
			margin-top: 0;
			@include viewFont(28);
			@include viewRelative('max-height', 126);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}